.articulos{
    margin-top: 5px;
    border: 1px solid royalblue;
}

.articulo{
    border: 1px solid #eeee99;
    margin-top: 5px;
}

.btn-container{
    display: flex;
}

.tittle-listado{
    color: rgb(36, 68, 150);
}