<div class="container mt-5">

    <form action="" class="form-group">
        <input type="text" class="form-control" (change)="buscarProductos($any($event.target).value)"
            placeholder="Buscar producto">
    </form>

    <button routerLink="/agregarProducto" class="btn btn-primary mt-4">Agregar producto</button>

    <div class="row mt-4">
        <div class="col-sm-3" *ngFor="let producto of productos">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{producto.id}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{producto.nombre}}</h6>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text">{{producto.precio | currency}}</p>
                    <button class="btn btn-link" (click)="agregar(producto)">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>